.background {
    margin: 0;
    padding-top: 100;
    background-image: url("../../../public/static/1.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    height: 100vh;
    width: 100vw;
    background-color: #E0D7D3;
    display: flex;
}

body {
    overflow: hidden;
}


.login-form {
    position: relative;
    width: 50%;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

.functionalities {
    position: relative;
    width: 50%;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 80px;
}

* {
    color: #626670;
}


.footer {
    background-color: #8a7D80;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 65px;
}


.login-form,
.functionalities {
    width: 100%;
}

@media (min-width: 768px) {
    .login-form,
    .functionalities {
        width: 50%;
    }
}
