@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Short+Stack&display=swap');


.appointment-container {
    margin: 0;
    padding-top: 100px;
    background-image: url("../../../public/static/2.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    height: 100vh;
    width: 100vw;
    background-color: #E0D7D3;
    justify-content: center;
}


.appt-title {
    font-size: 5em;
    font-weight: 900;
}

.appt-list, .appt-list * {
    font-size: 3rem;
}


.shadow-md {
    height: 60vh;
    width: 30vw;
}

.schedule, .schedule * {
    font-size: 3rem;
}
