.background-page {
  margin: 0;
  padding-top: 100px;
  background-image: url("../../../public/static/2.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
  height: 100vh;
  width: 100vw;
  background-color: #E0D7D3;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
}


.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

h1 {
  justify-self: flex-start;
  text-size-adjust: 100px;
}

@media screen and (min-width: 80rem) {
  .form-container {
    margin: 1em 2em;
  }

}
